/* styles.css */

/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* NORMAL CSS STARTS HERE */

body {
}

/* Header Section */
.header {
  width: 100vw;
  padding: 2rem 0;
  background-color: antiquewhite;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.button {
  background-color: rgb(223, 168, 66);
  padding: 0.5rem 3rem;
  border: none;

  border: solid 4px orange;
  color: white;
  font-weight: 900;
  transition: all 0.3s ease;
}

.button:hover {
  transform: translateY(-0.3rem);
  cursor: pointer;

  border: solid 4px red;
}
